h1 {
  margin-top: 1rem;
  text-align: center;
}

.store {
  margin: 1rem 0;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  height: 38px;
  margin: 0;
  padding: 0 10px;
  border-radius: 5px;
}

#searchButton {
  margin-bottom: 5px;
}

a.btn {
  color: white;
}

button.btn-warning {
  color: white;
  margin-right: 1rem;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#edit {
  display: none;
}